<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Sign up Page</title>

  <script src="https://unpkg.com/axios@0.21.1/dist/axios.min.js"></script>

  <script>
    const userdata = localStorage.getItem('username');

    if (userdata) {
      window.location.href = '/home';
    }
  </script>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font: 400 16px Arial;
    }

    button {
      cursor: pointer;
    }

    div.container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(29, 29, 204);
    }

    div.container form {
      max-width: 350px;
      width: 100%;
      padding: 25px;
      background-color: white;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div.container form h1 {
      margin-bottom: 20px;
      text-align: center;
    }

    div.container form input {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding: 0 10px;
      border: 0;
      border-radius: 8px;
      background-color: #e0e0e0;
    }

    div.container form button {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 80px;
      border: 0;
      border-radius: 8px;
      background-color: rgb(83, 224, 114);
      font-weight: 600;
      font-size: 16px;
      color: white;
      transition: background-color 0.2s;
    }

    div.container form button:hover {
      background-color: rgb(14, 175, 49);
    }

    div.container form a {
      text-decoration: none;
    }

    div.container form a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>
  <div class="container">
    <form id="signUpForm">
      <h1>Faça seu cadastro</h1>

      <input type="text" id="name" placeholder="Digite seu nome" />
      <input type="text" id="email" placeholder="Digite seu e-mail" />
      <input type="password" id="password" placeholder="Digite sua senha" />
      <input type="password" id="confirmPassword" placeholder="Confirme sua senha" />

      <button type="submit">Cadastrar</button>

      <a href="/">Já tem cadastro? Faça seu login</a>
    </form>
  </div>

  <script>
    const form = document.getElementById('signUpForm');
    const name = document.getElementById('name');
    const email = document.getElementById('email');
    const password = document.getElementById('password');
    const confirmPassword = document.getElementById('confirmPassword');

    form.addEventListener('submit', event => {
      event.preventDefault();

      axios.post('/users', {
        name: name.value,
        email: email.value,
        password: password.value,
        confirmPassword: confirmPassword.value,
      }).then(response => {
        localStorage.setItem('username', response.data);

        alert('Usuário criado com sucesso');

        window.location.href = '/home';
      }).catch(err => {
        alert(err.response.data.message);
      })
    });
  </script>
</body>

</html>
